{% extends '_base.html' %}

{% load static %}

{% block title %}About{% endblock title %}

{% block content %}

  <!-- ======= About-Hero Section ======= -->
  <section id="about-hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>About Us</h1>
        <h2>Integrated Marketing Communication.</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>About Us</p>
        </div>

        <div class="row content">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/about2.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p>
                Based in Abuja, MaxPR is a leading marketing, digital and PR agency, offering a complete range of award-winning marketing services, including brand development, strategic thinking, tactical marketing campaigns, digital communications, PR and design.
            </p>
            <p>
                Founded upon creative thinking and design, we have supported our clients to deliver successful marketing and PR activities in Abuja, Lagos and beyond for more than 10 years.
            </p>
            <p>
                We believe in developing integrated and innovative marketing solutions that add value and answer our clients' briefs and objectives, based upon insight, creativity and the combination of marketing disciplines, ensuring media neutrality that delivers results and optimises their return on investment.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">232</span>
              <p><strong>Happy Clients</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">521</span>
              <p><strong>Projects</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,463</span>
              <p><strong>Hours Of Support</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">15</span>
              <p><strong>Hard Workers</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

        <div class="container" data-aos="fade-up">
  
          <!-- Feature Tabs -->
          <div class="row feture-tabs" data-aos="fade-up">
            <div class="col-lg-6">
              <h3>Our Process</h3>
  
              <!-- Tabs -->
              <ul class="nav nav-pills mb-3">
                <li>
                  <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Understand</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab2">Create</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab3">Deliver</a>
                </li>
              </ul><!-- End Tabs -->
  
              <!-- Tab Content -->
              <div class="tab-content">
  
                <div class="tab-pane fade show active" id="tab1">
                  <p>We learn your individual needs and brand, and identify your content gaps, so we can tailor a custom-made content solutions package. The foundations for a long-term partnership are laid.</p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Clients rave about our ability to understand their business.</h4>
                  </div>
                  <p>We bring strategic insights and deliver amazing results that transform their companies and personal reputations.</p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>They consistently rank us highly in terms of overall agency satisfaction.</h4>
                  </div>
                  <p>They come to us because they know they will gain access to some of the smartest communications strategists and implementors in the business.</p>
                </div><!-- End Tab 1 Content -->
  
                <div class="tab-pane fade show" id="tab2">
                  <p>Together we create an individualized content roadmap to reach your business destination, making sure your content is communicated in the right way and seen by the right eyes.</p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Our ethos demands that we are questioning and consultative</h4>
                  </div>
                  <p>We produce award-winning results through the most appropriate marketing medium, in the most cost-effective manner.</p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>we work internationally for many clients and across most sectors</h4>
                  </div>
                  <p>The sectors we cover include construction, technology, logistics, energy, professional services, retail services, and financial services.</p>
                </div><!-- End Tab 2 Content -->
  
                <div class="tab-pane fade show" id="tab3">
                  <p>We're committed to delivering outstanding client service and supporting our team of dedicated professionals.</p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Our team describe MaxPR's business values as hungry, honest and hard working</h4>
                  </div>
                  <p>Our culture thrives on our thirst to achieve the best results for our clients and work as a collaborative team.</p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>We prioritise the well-being, happiness and career development</h4>
                  </div>
                  <p>They come to us because they know they will gain access to some of the smartest communications strategists and implementors in the business.</p>
                </div><!-- End Tab 3 Content -->
  
              </div>
  
            </div>
  
            <div class="col-lg-6">
              <img src="{% static 'assets/img/features-2.png' %}" class="img-fluid" alt="">
            </div>
  
          </div><!-- End Feature Tabs -->
  
        </div>
  
      </section><!-- End Features Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row content">

            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
                <img src="{% static 'assets/img/about3.jpg' %}" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left">
              <p>
                MaxPR has provided a complete range of marketing and PR services, internationally, for more than 10 years, delivered by an experienced team of professionals with expertise across all marketing disciplines.
              </p>
              <p>
                Our ethos demands that we are questioning and consultative, ensuring that the work we create answers our clients' briefs and adds value. We produce award-winning results through the most appropriate marketing medium, in the most cost-effective manner. And, we believe that the best marketing comes from understanding and openness between client and agency.
              </p>
              <p>
                As one of the leading independent agencies in the UK, we work internationally for many clients and across most sectors, including construction, technology, logistics, energy, professional services, retail services, financial services and general business - supporting businesses large and small.
              </p>
            </div>
  
          </div>
  
        </div>
      </section><!-- End About Section -->

      <!-- Include commons -->
    {% include "includes/commons.html" %}

{% endblock content %}