{% extends '_base.html' %}

{% load static %}

{% block title %}Services - Brand Management{% endblock title %}

{% block content %}

  <!-- ======= Services-Hero Section ======= -->
  <section id="brands-hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Services</h1>
        <h2>Brand Management.</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Brand Management</p>
        </div>

        <div class="row content">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/brands1.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p>
              MaxPR provide a full range of brand agency services. We can help you develop your brand from naming, positioning and identity through to full implementation programmes including websites, interiors, packaging, signage and clothing.
            </p>
            <p>
              MaxPR follow a proven, structured process that flexes to meet the specific needs of each client, whilst ensuring that creative outputs are rooted in effective research and business logic.
            </p>
            <p>
                While the process may be broadly the same, the outputs and outcomes are always entirely different.
            </p>
            <p>
                We work with businesses of all sizes across a wide range of industries, and specialise in artisinal food and hospitality brands (cafes, delis, restaurants and beverages), tech startups, property companies, estate agencies and consumer products.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

      <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
  
          <div class="row no-gutters">
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-simple-smile"></i>
                <span data-toggle="counter-up">232</span>
                <p><strong>Happy Clients</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-document-folder"></i>
                <span data-toggle="counter-up">521</span>
                <p><strong>Projects</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-live-support"></i>
                <span data-toggle="counter-up">1,463</span>
                <p><strong>Hours Of Support</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-users-alt-5"></i>
                <span data-toggle="counter-up">15</span>
                <p><strong>Hard Workers</strong></p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Counts Section -->

      <!-- ======= Features Section ======= -->
    <section id="features" class="features">

        <div class="container" data-aos="fade-up">
  
          <!-- Feature Tabs -->
          <div class="row feture-tabs" data-aos="fade-up">
            <div class="col-lg-6">
              <h3>Brand Management Strategy</h3>
  
              <!-- Tabs -->
              <ul class="nav nav-pills mb-3">
                <li>
                  <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Discover</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab2">Define</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab3">Design</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab4">Deliver</a>
                </li>
              </ul><!-- End Tabs -->
  
              <!-- Tab Content -->
              <div class="tab-content">
  
                <div class="tab-pane fade show active" id="tab1">
                  <p>We discover the true health of your current brand and the insights you need to move your organisation forward.</p>
                  <p>We start off by listening carefully to the views of your senior people, employees, customers and partners. Only when we fully understand where you are today, can we work with you to develop the brand.</p>
                  <p>Our services at this stage include:</p>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Customer and employee satisfaction</h4>
                  </div>
                  
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Brand perception analysis</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Marketplace analysis</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Stakeholder engagement</h4>
                  </div>
                </div><!-- End Tab 1 Content -->
  
                <div class="tab-pane fade show" id="tab2">
                  <p>We define the strategic platform and unique brand VOICE that will engage your employees, customers, partners and more.</p>
                  <p>We will work with you to debate, define and articulate a clear brand strategy for the future using a highly interactive workshop and our bespoke Brand VOICE model that articulates your Vision, Offer, Identity, Culture and Essence.</p>
                  <p>Our services at this stage include:</p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Brand strategy</h4>
                  </div>
                  
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Brand architecture</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Naming</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Core Messaging</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Communications planning</h4>
                  </div>

                </div><!-- End Tab 2 Content -->
  
                <div class="tab-pane fade show" id="tab3">
                  <p>An identity system that cuts through any and every channel, with clarity, consistency and impact.</p>
                  <p>Assessing creativity is too often managed subjectively. Using co-creation, testing and our insight-led design process we remove subjectivity to ensure real engagement and impact with your audiences.</p>
                  <p>Our services at this stage include:</p>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Core identity</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Brand look and feel</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Brand guidelines</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Core assets and templates</h4>
                  </div>
                </div><!-- End Tab 3 Content -->

                <div class="tab-pane fade show" id="tab4">
                    <p>We deliver the campaigns, communications, spaces and experiences that change the way people think, feel and act.</p>
                    <p>We believe that the key to delivering a truly omni-channel brand is to start with the right proposition, one that targets the ‘sweet spot’, where your objectives overlap with your audiences’ needs and wants.</p>
                    <p>Our services at this stage include:</p>
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>Launch a new brand, product or service</h4>
                    </div>
  
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>Strengthen your employer brand</h4>
                    </div>
  
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>Grow and support a community of brand advocates</h4>
                    </div>
                  </div><!-- End Tab 4 Content -->
  
              </div>
  
            </div>
  
            <div class="col-lg-6">
              <img src="{% static 'assets/img/features.png' %}" class="img-fluid" alt="">
            </div>
  
          </div><!-- End Feature Tabs -->
  
        </div>
  
      </section><!-- End Features Section -->

    

    <!-- Include commons -->
    {% include "includes/commons.html" %}

{% endblock content %}