{% extends '_base.html' %}

{% load static %}

{% block title %}Services - Consumer & Audience Insights{% endblock title %}

{% block content %}

  <!-- ======= Services-Hero Section ======= -->
  <section id="insights-hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Services</h1>
        <h2>Consumer & Audience Insights.</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Consumer & Audience Insights</p>
        </div>

        <div class="row content">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/insights1.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p>
                MaxPR offers strategic Consumer and Audience insight for any size of business, offering support at a strategic level and combining marketing expertise with business acumen to help organisations succeed in achieving their objectives.
            </p>
            <p>
                Using our knowledge, expertise, and experience, we work closely with key stakeholders to develop strategic marketing plans that support an organisation's goals.
            </p>
            <p>
                Ensuring that strategic plans are realistic, achievable and meet a client's objectives is key to our advice. Through a mix of commercial know-how and marketing expertise, we help businesses to set strategic plans that direct brand and marketing activity.
            </p>
            <p>
                In many instances, MaxPR works as an integral part of a client's business, providing an outsourced 'marketing department' that not only provides the strategy but also executes, manages and analyses marketing activity. But in other instances, for larger businesses, we work closely with the marketing team to advise and support their strategic goals.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

           <!-- ======= Counts Section ======= -->
           <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">
      
              <div class="row no-gutters">
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span data-toggle="counter-up">232</span>
                    <p><strong>Happy Clients</strong></p>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-document-folder"></i>
                    <span data-toggle="counter-up">521</span>
                    <p><strong>Projects</strong></p>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-live-support"></i>
                    <span data-toggle="counter-up">1,463</span>
                    <p><strong>Hours Of Support</strong></p>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-users-alt-5"></i>
                    <span data-toggle="counter-up">15</span>
                    <p><strong>Hard Workers</strong></p>
                  </div>
                </div>
      
              </div>
      
            </div>
          </section><!-- End Counts Section -->

     

      <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-5 align-items-stretch video-box" style="background-image: url({% static 'assets/img/insights4.jpg' %});" data-aos="zoom-in" data-aos-delay="100">
              <a href="#" class="venobox mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>
  
            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
  
              <div class="content">
                <h3><strong>Strategic Insights</strong></h3>
                <p>
                    We have every angle covered and with us there’s no need to recruit multiple specialists. Brief us and we’ll line up an integrated data and customer insight team to meet all your needs. Nothing could be simpler or more effective, so call us today.
                </p>
              </div>
  
              <div class="accordion-list">
                <ul>
                  <li>
                    <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span> Laser targeting <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                      <p>
                        At MaxPR, we assist you to sift through thousands of social profiles enabling you to target the audience segments that matter most to your brand.
                      </p>
                    </div>
                  </li>
  
                  <li>
                    <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span> Clear reports <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                      <p>
                        Get simple audience reports with detailed data such as user profiles, affinities, demographics and job roles. All presentation ready to help you demonstrate the potential ROI.
                      </p>
                    </div>
                  </li>
  
                  <li>
                    <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> Audience Segmentation <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                      <p>
                        Understand the different groups talking about your brand online. Uncover what excites your target markets with insights into their interests, demographics, and consumer behaviors.
                      </p>
                    </div>
                  </li>

                  <li>
                    <a data-toggle="collapse" href="#accordion-list-4" class="collapsed"><span>04</span> Influencer Discovery <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-4" class="collapse" data-parent=".accordion-list">
                      <p>
                        Different people motivate different groups. Find out which influencers resonate with your communities, and understand just how impactful those influencers are. Pinpoint your influencer marketing strategy by moving away from a one-size-fits-all approach.
                      </p>
                    </div>
                  </li>
  
                </ul>
              </div>
  
            </div>
  
          </div>
  
        </div>
      </section><!-- End Why Us Section -->
    

    <!-- Include commons -->
    {% include "includes/commons.html" %}

{% endblock content %}