{% extends '_base.html' %}

{% load static %}

{% block title %}Services - Crisis Communications{% endblock title %}

{% block content %}

  <!-- ======= Services-Hero Section ======= -->
  <section id="crisis-hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Services</h1>
        <h2>Crisis Communications.</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Crisis Communications</p>
        </div>

        <div class="row content">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/crisis2.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p>
                We have expertise across issues management, crisis communications, risk analysis and scenario planning with political parties, governments, corporate & financial as well as high profile families and individuals.
            </p>
            <p>
                Each crisis is different, from shareholder activism to CEO remuneration disputes to threatening legislation to an existing business.
            </p>
            <p>
                The key to the crisis is to approach it in the wider reputation management field to protect the corporate brand and build its reputation to avoid it being the focus of a witch hunt on social media which triggers the hunt in media and political corridors. Our specialism is in strategy, crisis and capacity building.
            </p>
            
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

      <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
  
          <div class="row no-gutters">
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-simple-smile"></i>
                <span data-toggle="counter-up">232</span>
                <p><strong>Happy Clients</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-document-folder"></i>
                <span data-toggle="counter-up">521</span>
                <p><strong>Projects</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-live-support"></i>
                <span data-toggle="counter-up">1,463</span>
                <p><strong>Hours Of Support</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-users-alt-5"></i>
                <span data-toggle="counter-up">15</span>
                <p><strong>Hard Workers</strong></p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Counts Section -->

      

      <!-- ======= Features Section ======= -->
    <section id="features" class="features">

        <div class="container" data-aos="fade-up">
  
          <!-- Feature Tabs -->
          <div class="row feture-tabs" data-aos="fade-up">
            <div class="col-lg-6">
              <h3>Crisis Communication Strategy</h3>
  
              <!-- Tabs -->
              <ul class="nav nav-pills mb-3">
                <li>
                  <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Predict</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab2">Prevent</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab3">Prepare</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab4">Respond</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab5">Recover</a>
                </li>
                
              </ul><!-- End Tabs -->
  
              <!-- Tab Content -->
              <div class="tab-content">
  
                <div class="tab-pane fade show active" id="tab1">
                  <p>We research the company, industry and wider world to identify and assess reputation risks and create scenario planning in response to the issues becoming a crisis through identified triggers. We will continually listen and learn and horizon scan to identify triggers for future crisis issues. We will undergo stakeholder mapping to ensure we have an engagement plan for all stakeholders, not just media.</p>
                </div><!-- End Tab 1 Content -->
  
                <div class="tab-pane fade show" id="tab2">
                  <p>We create a reputation risk architecture and assessment process for the client. We will work with your senior leadership and inhouse PR for training and awareness-raising.</p>
                </div><!-- End Tab 2 Content -->
  
                <div class="tab-pane fade show" id="tab3">
                  <p>We then work with you and the team to ensure we have approved responses and content for a number of possible scenarios to avoid delay in responses during a crisis. We move our clients from being reactive and out of control, to being proactive and in control. Triggers and escalators are identified and managed.</p>
                </div><!-- End Tab 3 Content -->
                
                <div class="tab-pane fade show" id="tab4">
                  <p>At this stage, we deliver the planned and approved responses and content to the key stakeholders. This stage is the crisis communications stage. As you see it is a smaller part of a wider approach to issues management.</p>
                </div><!-- End Tab 4 Content -->

                <div class="tab-pane fade show" id="tab5">
                  <p>We will analyse and review the latest crisis and identify lessons learned for performance improvement. We will also develop a plan for rebuilding trust and reputation which may require organisational or strategic change. Starting with an in-depth strategy session we map out the clearest risk-adverse path to your desired destination, with the appropriate response protocols particularly necessary during a crisis situation. Relying on our foresight and judgement to get you there safely and manage any post-crisis threat to reputation or licence to operate.</p>
                </div><!-- End Tab 5 Content -->
  
              </div>
  
            </div>
  
            <div class="col-lg-6">
              <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
            </div>
  
          </div><!-- End Feature Tabs -->
  
        </div>
  
      </section><!-- End Features Section -->

    

    <!-- Include commons -->
    {% include "includes/commons.html" %}

{% endblock content %}