{% extends '_base.html' %}

{% load static %}

{% block title %}Services - Influencer Marketing{% endblock title %}

{% block content %}

  <!-- ======= Services-Hero Section ======= -->
  <section id="influencer-hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Services</h1>
        <h2>Influencer Marketing.</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Influencer Marketing</p>
        </div>

        <div class="row content">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/influencer2.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p>
                At MaxPR, We get people talking at a global scale by partnering with influencers of every category, tier, and country. We then generate compelling conversation aimed at winning hearts and changing minds and behaviours.
            </p>
            <p>
                As an Influencer Marketing Agency, we create the most viral, captivating & ROI-focused social media influencer campaigns for brands globally.
            </p>
            <p>
                Our talented team is responsible for having created some of the most viral and successful campaigns for our clients globally. We continually aim to exceed expectations, make lasting memories, and amplify brands to their highest potential. Our marketing mix only contains services with proven ROI, backed by analytics.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

           <!-- ======= Counts Section ======= -->
           <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">
      
              <div class="row no-gutters">
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span data-toggle="counter-up">232</span>
                    <p><strong>Happy Clients</strong></p>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-document-folder"></i>
                    <span data-toggle="counter-up">521</span>
                    <p><strong>Projects</strong></p>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-live-support"></i>
                    <span data-toggle="counter-up">1,463</span>
                    <p><strong>Hours Of Support</strong></p>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-users-alt-5"></i>
                    <span data-toggle="counter-up">15</span>
                    <p><strong>Hard Workers</strong></p>
                  </div>
                </div>
      
              </div>
      
            </div>
          </section><!-- End Counts Section -->

     

      <!-- ======= Features Section ======= -->
    <section id="features" class="features">

        <div class="container" data-aos="fade-up">
  
          <!-- Feature Tabs -->
          <div class="row feture-tabs" data-aos="fade-up">
            <div class="col-lg-6">
              <h3>The Viral Full Service Process</h3>
  
              <!-- Tabs -->
              <ul class="nav nav-pills mb-3">
                <li>
                  <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Research</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab2">Goals</a>
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab3">Connect</a>
                </li>
                <li>
                    <a class="nav-link" data-bs-toggle="pill" href="#tab4">Measure</a>
                  </li>
              </ul><!-- End Tabs -->
  
              <!-- Tab Content -->
              <div class="tab-content">
  
                <div class="tab-pane fade show active" id="tab1">
                  
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>We research potential influencers.</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Then figure out how their brand aligns with your values.</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Finally, We figure out their reach in terms of following.</h4>
                  </div>
                </div><!-- End Tab 1 Content -->
  
                <div class="tab-pane fade show" id="tab2">

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>We establish a clear strategy for how to manage the relationship with your influencers.</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Then we set a budget.</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Finally, We confirm your messages and define your goals for success.</h4>
                  </div>
                  
                </div><!-- End Tab 2 Content -->
  
                <div class="tab-pane fade show" id="tab3">
                  
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Connect with the influencer.</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Start to build the relationship.</h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>commence activity.</h4>
                  </div>
                  

                </div><!-- End Tab 3 Content -->

                <div class="tab-pane fade show" id="tab4">
                  
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>Track progress.</h4>
                    </div>
  
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>use this to review and measure success.</h4>
                    </div>
  
                    <div class="d-flex align-items-center mb-2">
                      <i class="bi bi-check2"></i>
                      <h4>Then adjust strategies accordingly.</h4>
                    </div>
                    
  
                  </div><!-- End Tab 4 Content -->
  
              </div>
  
            </div>
  
            <div class="col-lg-6">
              <img src="{% static 'assets/img/illustration-6.svg' %}" class="img-fluid" alt="">
            </div>
  
          </div><!-- End Feature Tabs -->
  
        </div>
  
      </section><!-- End Features Section -->    

    <!-- Include commons -->
    {% include "includes/commons.html" %}

{% endblock content %}