{% extends '_base.html' %}

{% load static %}

{% block title %}Our Services{% endblock title %}

{% block content %}

  <!-- ======= Services-Hero Section ======= -->
  <section id="services-hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Our Services</h1>
        <h2>Understand Create Deliver.</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>What We Do For Our Clients</p>
        </div>

        <div class="row content">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/services2.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p>
                At MaxPR, we know one size doesn’t fit all, which is why we offer a complete continuum of PR and Marketing services, from brand management and media relations to stakeholder relations and crisis management.
            </p>
            <p>
                We work with our clients to identify the right marketing mix to meet their objectives. The media-neutral nature of our agency allows us to provide fully integrated marketing communications, utilising every marketing technique and discipline available to us to exceed our clients' expectations.
            </p>
            <p>
                Whether you need to develop or revitalise a brand, reach out to your customers, develop your distribution channels, raise awareness of your brand or products, increase sales lead generation, launch a showroom, develop your digital presence or engage your employees... we have the expertise to support your objectives.
            </p>
            <p>
                For more information about our services, please select the service you are interested in below.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-10">
            <h3>Branding & Design</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Brand Management</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab2">Logo Design</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab3">Web Design</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab4">Corporate communications materials</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                <p>We discover the true health of your current brand and the insights you need to move your organisation forward.</p>
                <p>We start off by listening carefully to the views of your senior people, employees, customers and partners. Only when we fully understand where you are today, can we work with you to develop the brand.</p>
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">
                <p>We develop your brand concepts, progressed through to a final logo and artwork and a full brand guidelines document, which is then applied across other materials.</p>
                
              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">
                <p>We believe in creativity and functionality when delivering websites for our clients. We deliver highly functioning sites with the intentions of the user in mind, fully responsive to any device.</p>
                
              </div><!-- End Tab 3 Content -->

              <div class="tab-pane fade show" id="tab4">
                  <p>We then project manage the production of the document from start to finish, drafting all copy including case studies and designing the entirety of the document including infographics, brochures, reports, newsletters, flyers, press adverts, exhibition boards, comments cards, display panels, signage and other materials.</p>
                
                </div><!-- End Tab 4 Content -->

            </div>

          </div>

          

        </div><!-- End Feature Tabs -->

      </div>

    </section><!-- End Features Section -->


    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style="background-image: url({% static 'assets/img/insights4.jpg' %});" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" class="venobox mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3><strong>Public Relations</strong></h3>
              <p>
                At MaxPR, we’re passionate about PR and how it enhances reputations, creating understanding with your target audiences. Our award-winning PR campaigns raise our clients’ visibility within their chosen sectors and beyond.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span> Reputation management <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                    <p>
                      In times of planning or crisis, pull on the big moments going back in time, and give your decision makers the context they need to make a call, right now.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span> Media relations <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                    <p>
                      We prepare a PR plan to support the planning strategy, which utilises key milestones to generate positive media attention. We have excellent contacts across national, trade, local and consumer media titles and are experts in managing the media.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> Stakeholder relations <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                    <p>
                      We develop strategic, targeted communications programmes that support you in delivering the right message to the key stakeholders and influencers that can impact on your project.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-4" class="collapsed"><span>04</span> Crisis communications <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-4" class="collapse" data-parent=".accordion-list">
                    <p>
                      From strategic guidance to hands on support we are there for our clients when they need us most. We provide 24/7 cover for our clients, with both hands-on support and senior strategic counsel.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-5" class="collapsed"><span>05</span> Perception Research <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-5" class="collapse" data-parent=".accordion-list">
                    <p>
                      We deliver both qualitative and quantitative research to establish what our clients' stakeholders think about them, often at very senior levels across Government, business and the media.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-6" class="collapsed"><span>06</span> PR Reporting <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-6" class="collapse" data-parent=".accordion-list">
                    <p>
                      Our elegant, industry leading media relations platform, combines easy to use tools with exceptional analysis. The first of its kind to place an intuitive and mobile interface at the heart of its design.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-12">
            <h3>Political Communications</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link active" data-bs-toggle="pill" href="#tab5">Political Engagements</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab6">Key message and strategy development</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab7">Political, media and intelligence monitoring</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab5">
                <p>We have a  thorough understanding of the politics and an excellent contact network, backed up by extensive monitoring and research.</p>
                <p>We invest around 10% of our turnover on in-house research functions and tools so we can constantly provide informed recommendations and then help our clients engage effectively with local, regional and national politics.</p>
                <p>We also provide a range of intelligence monitoring services across our client base.</p>
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab6">
                <p>Assembling and testing messages in an engaging and effective manner to the targeted  audience is what we do best. We achieve this through effective planning and implementation.</p>
              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab7">
                <p>Boasting a dedicated research team, we offer a range of intelligence monitoring services across our client base and pride ourselves on providing the highest quality strategic advice.</p>
              </div><!-- End Tab 3 Content -->

            </div>

          </div>

          

        </div><!-- End Feature Tabs -->

      </div>

    </section><!-- End Features Section -->


    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-12">
            <h3>Marketing</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link active" data-bs-toggle="pill" href="#tab8">Social Listening</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab9">Social Media Management</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab10">Influencer Marketing</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab11">Consumer & audience insights</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab12">Event Management</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab8">
                <p>Good PR isn’t always about gaining media coverage: it’s about reaching the right people. We’ll do this in the most effective way.</p>
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab9">
                <p>We create, curate, respond and engage on social media platforms on your behalf in line with your brand personality and tone of voice.</p>
                <p>We instigate social adverting campaigns and ensure brands lead the conversation with word, picture, film and audio content that can’t be ignored.</p>
              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab10">
                <p>At MaxPR, We get people talking at a global scale by partnering with influencers of every category, tier, and country. We then generate compelling conversation aimed at winning hearts and changing minds and behaviours.</p>
              </div><!-- End Tab 3 Content -->

              <div class="tab-pane fade show" id="tab11">
                <p>MaxPR offers strategic Consumer and Audience insight for any size of business, offering support at a strategic level and combining marketing expertise with business acumen to help organisations succeed in achieving their objectives.</p>
              </div><!-- End Tab 3 Content -->

              <div class="tab-pane fade show" id="tab12">
                <p>We run high-profile events, arrange launches for development projects and new research, manage roadshows, organize AGMs etc.</p>
              </div><!-- End Tab 3 Content -->

            </div>

          </div>

          

        </div><!-- End Feature Tabs -->

      </div>

    </section><!-- End Features Section -->



    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bxs-video-recording"></i></div>
                <h4><a href="{% url 'prcomm' %}">PR & Communication</a></h4>
                <p>Creating compelling PR and content marketing campaigns with well thought out communications strategy and effective brand messaging.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bxs-megaphone"></i></div>
                <h4><a href="{% url 'marketing' %}">Marketing</a></h4>
                <p>We’re passionate about PR and how it enhances reputations, creating understanding with your target audiences.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="{% url 'influencermarketing' %}">Influencer Marketing</a></h4>
                <p>Ensuring your message reaches your target audience, by getting you in front of the right movers and shakers in the media, analyst and influencer landscape.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-dollar-circle"></i></div>
                <h4><a href="{% url 'stakeholderrelations' %}">Stakeholder Relations</a></h4>
                <p>Effective management of relationships with stakeholders is crucial to resolving issues facing organizations.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-chart"></i></div>
                <h4><a href="{% url 'consumer' %}">Consumer & Audience Insights</a></h4>
                <p>In times of planning or crisis, pull on the big moments going back in time, and give your decision makers the context they need to make a call, right now.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bxs-report"></i></div>
                <h4><a href="{% url 'prreporting' %}">PR Reporting</a></h4>
                <p>Good PR isn’t always about gaining media coverage: it’s about reaching the right people. We’ll do this in the most effective way.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="bx bxs-microphone"></i></div>
                  <h4><a href="{% url 'sociallistening' %}">Social Listening</a></h4>
                  <p>Good PR isn’t always about gaining media coverage: it’s about reaching the right people. We’ll do this in the most effective way.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bxl-instagram"></i></div>
                  <h4><a href="{% url 'socialmedia' %}">Social Media Management</a></h4>
                  <p>In times of planning or crisis, pull on the big moments going back in time, and give your decision makers the context they need to make a call, right now.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bxs-award"></i></div>
                  <h4><a href="{% url 'repmanagement' %}">Reputation Management</a></h4>
                  <p>In times of planning or crisis, pull on the big moments going back in time, and give your decision makers the context they need to make a call, right now.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="bx bxs-meteor"></i></div>
                  <h4><a href="{% url 'crisiscomm' %}">Crisis Communication</a></h4>
                  <p>Effective management of relationships with stakeholders is crucial to resolving issues facing organizations.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-tv"></i></div>
                  <h4><a href="{% url 'mediarelations' %}">Media Relations</a></h4>
                  <p>Effective management of relationships with stakeholders is crucial to resolving issues facing organizations.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="bx bxl-drupal"></i></div>
                  <h4><a href="{% url 'brandmgt' %}">Brand Management</a></h4>
                  <p>Effective management of relationships with stakeholders is crucial to resolving issues facing organizations.</p>
                </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->

      <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
  
          <div class="row no-gutters">
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-simple-smile"></i>
                <span data-toggle="counter-up">232</span>
                <p><strong>Happy Clients</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-document-folder"></i>
                <span data-toggle="counter-up">521</span>
                <p><strong>Projects</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-live-support"></i>
                <span data-toggle="counter-up">1,463</span>
                <p><strong>Hours Of Support</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-users-alt-5"></i>
                <span data-toggle="counter-up">15</span>
                <p><strong>Hard Workers</strong></p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style="background-image: url({% static 'assets/img/tall4.jpg' %});" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" class="venobox mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3><strong>What Makes us Unique</strong></h3>
              <p>
                We are not like every other PR agency. We are not about spin, but about communicating your truth in a way that generates long-term trust with your target audiences.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span> Driven By Results <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                    <p>
                        Our measurement framework is at the heart of every PR campaign. We work collaboratively with clients to define measurable outputs and outcomes at the start of an engagement. This isn’t just media results, its share of voice, message delivery and business outcomes.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span> Creativity at the Core <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                    <p>
                        Not only are we a creative bunch of people, we love seeing it come through in the PR campaigns we deliver. From brand storytelling, visualisations, video and smart pitches, we ensure the creative elements shine through.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> Solutions That Engage <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                    <p>
                        We pride ourselves on digging deep into our client’s target audience to ensure we are engaging the right people, in the right place, with the right content to deliver the business results that matter to them.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    

    <!-- Include commons -->
    {% include "includes/commons.html" %}

{% endblock content %}