{% extends '_base.html' %}

{% load static %}

{% block title %}Services - Social Listening{% endblock title %}

{% block content %}

  <!-- ======= Services-Hero Section ======= -->
  <section id="sociall-hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Services</h1>
        <h2>Social Listening.</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Social Listening</p>
        </div>

        <div class="row content">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/sociall1.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p>
                Social media platforms should carry a danger alert, warning brands that they can be sliced and diced in the blink of an eye.
            </p>
            <p>
                It’s why you should be monitoring social media sites 24/7 and stepping in before things get out of hand.
            </p>
            <p>
                The world never sleeps and neither do we. No one knows more about keeping brands safe on social media than our Social Listening team.
            </p>
            <p>
                Speak to us if you don’t have the resources for round-the-clock monitoring.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
  
          <div class="row no-gutters">
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-simple-smile"></i>
                <span data-toggle="counter-up">232</span>
                <p><strong>Happy Clients</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-document-folder"></i>
                <span data-toggle="counter-up">521</span>
                <p><strong>Projects</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-live-support"></i>
                <span data-toggle="counter-up">1,463</span>
                <p><strong>Hours Of Support</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-users-alt-5"></i>
                <span data-toggle="counter-up">15</span>
                <p><strong>Hard Workers</strong></p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Counts Section -->

        

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row content">

            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
                <img src="{% static 'assets/img/sociall3.jpg' %}" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left">
              <p>
                When used effectively, Social channels can help meet the objectives of just about any business – there’s a lot more to it than just gaining Likes and amasing Followers!
              </p>
              <p>
                We love using Social Media to prospect new customers for clients, and places like Facebook and Instagram are ideal for introducing new products or dipping an exploratory toe into new markets. Social Networks are great places to sell to customers too.
              </p>
              <p>
                So, whether your business is seeking to increase visibility and market share, or wants to drive website conversions directly, we can help by using Social Media to form a key part of your marketing strategy.
              </p>
            </div>
  
          </div>
  
        </div>
      </section><!-- End About Section -->

      <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Social Media Services</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-instagram"></i></div>
              <h4><a href="{% url 'socialmedia' %}">Social Media Management</a></h4>
              <p>Creating compelling PR and content marketing campaigns with well thought out communications strategy and effective brand messaging.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-twitter"></i></div>
              <h4><a href="{% url 'socialmedia' %}">Social Media Campaigns</a></h4>
              <p>We’re passionate about PR and how it enhances reputations, creating understanding with your target audiences.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="{% url 'influencermarketing' %}">Influencer Marketing</a></h4>
              <p>Ensuring your message reaches your target audience, by getting you in front of the right movers and shakers in the media, analyst and influencer landscape.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    

    <!-- Include commons -->
    {% include "includes/commons.html" %}

{% endblock content %}