{% extends '_base.html' %}

{% load static %}

{% block title %}Services - Stakeholder Relations{% endblock title %}

{% block content %}

  <!-- ======= Services-Hero Section ======= -->
  <section id="stake-hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Services</h1>
        <h2>Stakeholder Relations.</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Stakeholder Relations</p>
        </div>

        <div class="row content">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/stake1.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p>
                We develop strategic, targeted communications programmes that support you in delivering the right message to the key stakeholders and influencers that can impact on your project. This may include stakeholder and project analysis, strategic communications support, communications training, communications programme planning and delivery, content development, reputation and issues management and much more.
            </p>
            <p>
                MaxPR has over two decades of experience in helping our clients identify and build successful relationships with their stakeholders; whether that’s customers, politicians, media, civil servants, shareholders, competitors, special interest groups, business organisations, trade unions or – often most importantly –employees.
            </p>
            <p>
                We’ll help you identify exactly who you need to be talking to and advise the most effective way to engage with them to increase awareness, drive sales or tackle issues.
            </p>
            
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row content">

            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
                <img src="{% static 'assets/img/stake3.jpg' %}" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left">
              <p>
                It’s not always clear who might benefit from your product or service, as well as who might be affected by your strategy. We help you identify all relevant stakeholders, learn from them and refine your strategy and your messaging to target these audiences for maximum understanding, influence and commitment to the consultation process.
              </p>
              <p>
                At MaxPR, We can help you navigate public meetings, get the most from exhibitions, design and send direct mail and newsletters, as well as support individual briefings and journalist engagement.
              </p>
              <p>
                We have significant expertise and experience providing high level advice for community and stakeholder engagement projects, especially for projects within politically sensitive environments.
              </p>
            </div>
  
          </div>
  
        </div>
      </section><!-- End About Section -->

      <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
  
          <div class="row no-gutters">
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-simple-smile"></i>
                <span data-toggle="counter-up">232</span>
                <p><strong>Happy Clients</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-document-folder"></i>
                <span data-toggle="counter-up">521</span>
                <p><strong>Projects</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-live-support"></i>
                <span data-toggle="counter-up">1,463</span>
                <p><strong>Hours Of Support</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-users-alt-5"></i>
                <span data-toggle="counter-up">15</span>
                <p><strong>Hard Workers</strong></p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Counts Section -->

      <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-5 align-items-stretch video-box" style="background-image: url({% static 'assets/img/tall5.jpg' %});" data-aos="zoom-in" data-aos-delay="100">
              <a href="#" class="venobox mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>
  
            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
  
              <div class="content">
                <h3><strong>Stakeholder Relations Approach</strong></h3>
                <p>
                    We approach stakeholder engagement projects and campaigns from an focus on issues management. Using this approach, we have identified three distinct opportunities to ensure that any potential problems are foreseen and prepared for in advance.
                </p>
              </div>
  
              <div class="accordion-list">
                <ul>
                  <li>
                    <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span> Solid Understanding of the Stakeholders <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                      <p>
                        We build stakeholder relations strategies based on a comprehensive understanding of who we are working with. This means that we consultat directly with stakeholders to investigate their attitudes and behaviours as well as opinions and beliefs.
                      </p>
                    </div>
                  </li>
  
                  <li>
                    <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span> Strategic Management of the Issue <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                      <p>
                        We expect issues to arise throughout the consultation and engagement process and preparing for these in advance adds significant value to the way we design our strategy. Often stakeholders respond in particular ways in certain circumstances and understanding these patterns guides our strategic direction and focus.
                      </p>
                    </div>
                  </li>
  
                  <li>
                    <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> Strong Teamwork <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                      <p>
                        We genuinely believe that our stakeholder management approach can only be successfully delivered if we work closely with our clients as a team to achieve our objectives. We don’t claim to know more about your project than you do, we know stakeholder management inside out but we rely on working closely with our clients to marry the two together to produce effective outcomes for every project.                      </p>
                    </div>
                  </li>
  
                </ul>
              </div>
  
            </div>
  
          </div>
  
        </div>
      </section><!-- End Why Us Section -->

    

    <!-- Include commons -->
    {% include "includes/commons.html" %}

{% endblock content %}